.conduct

	.container

		h2.conduct__title Как работает программа лояльности?

		.conduct__mass

			.conduct__set

				.conduct__box

					.conduct__item

						p.conduct__num 01

						p.conduct__name Регистрация в программе

						p.conduct__text Доставим банный чан в любую точку мира. Чтобы узнать подробнее об условиях доставки в Ваш город, ознакомьтесь с условиями доставки.

				.conduct__box

					.conduct__item

						p.conduct__num 02

						p.conduct__name Участие в программе

						p.conduct__text Покупая изделие в компании Сибирский Банный Чан, вы получаете международную гарантию, которая действует 10 лет. <br>Читайте подробные условия гарантии.

				.conduct__box

					.conduct__item

						p.conduct__num 03

						p.conduct__name Вознаграждение 5000 рублей

						p.conduct__text У нас есть собственное производство в Новосибирске. Производственные <br>площади - более 1000 м2. Узнайте <br>больше об уникальных технологиях.