.meccano

	.container

		.meccano__head

			.meccano__step.active
			.meccano__step
			.meccano__step
			.meccano__step
			.meccano__step
			.meccano__step
			.meccano__step
			.meccano__step

		.meccano__result Шаг <span>1</span> из 8

		.meccano__body

			include meccano-extent

			include meccano-heat

			include meccano-setting

			include meccano-wood

			include meccano-tinge

			include meccano-further

			include meccano-further2

			include meccano-form