.meccano__mass

	.meccano__title Ваш банный чан готов!

	.meccano__basis

		form.form

			.form__body.meccano__form

				.meccano__left

					img(src='img/generate/meccano-vat.png' class='meccano__img' alt='img')

				.meccano__right

					.meccano__bulk

						.meccano__higher

							.meccano__topic Заполните форму и мы отправим вам подробный расчет вашего чана!

							.meccano__topicsub Мы производим банные чаны с подогревом <br>как на дровах, так и с электро-подогревом.

							.claim

								.claim__set

									.claim__unit

										input(class='form__field' type='text' placeholder='Ваше имя' required)

									.claim__unit

										input(class='form__field' type='tel' placeholder='+7 (___)-___-__-__' required)

									.claim__unit

										input(class='form__field' type='email' placeholder='Ваш e-mail' required)

								.claim__agreement
									label.checkbox
										input(type="checkbox" required)
										span.checkbox__part
											span.checkbox__square
												svg.svg-icon
													use(xlink:href="img/sprite.svg#check")
											span.checkbox__text Оставляя свои данные на данном сайте, я принимаю условия <a href='#'>политики конфиденциальности</a>
							
						.meccano__sailing

							.meccano__back НАЗАД

							button(type='submit' class='meccano__btn') ОТПРАВИТЬ ФОРМУ

			.form__thanks.meccano__thanks

				.meccano__left

					img(src='img/generate/meccano-garth.jpg' class='meccano__image' alt='img')

				.meccano__right

					.meccano__thanks-content

						.meccano__thanks-check

							svg.svg-icon

								use(xlink:href="img/sprite.svg#check")

						.meccano__topic Спасибо, форма расчета <br>успешно отправлена

						.meccano__topicsub Наш оператор свяжеться с вами в течении 15 минут <br>и отправит вам подробный расчет вашего <br>Сибирского Банного Чана!