.boxing

	.container

		.boxing__dyad

			.boxing__content

				h2.boxing__title Надежная упаковка чана позволяет доставить чан <br>в любую точку планеты 

				p.boxing__text Перед осуществлением доставки чан покрывается защитной пленкой и погружается в специальный транспортировочный ящик, защищающий ваше изделие от повреждений в ходе перевозки и погрузки

				.boxing__btn

					a(href='#' class='btn_green') РАССЧИТАТЬ ДОСТАВКУ

			.boxing__image

				img(src='img/generate/boxing.jpg' alt='img')