.defrayal

	.container

		h2.defrayal__title Возможные формы оплаты

		.defrayal__mass

			.defrayal__set

				.defrayal__box

					.defrayal__item

						.defrayal__image

							img(src='img/generate/defrayal1.png' alt='defrayal1')

						p.defrayal__name Оплата картой

						p.defrayal__text Оплата банковской <br>картой по ссылке

				.defrayal__box

					.defrayal__item

						.defrayal__image

							img(src='img/generate/defrayal2.png' alt='defrayal2')

						p.defrayal__name Оплата на счет

						p.defrayal__text Перевод средств на <br>расчетный счет компании

				.defrayal__box

					.defrayal__item

						.defrayal__image

							img(src='img/generate/defrayal3.png' alt='defrayal3')

						p.defrayal__name Оплата по счету

						p.defrayal__text Оплата по счету для юридических лиц

				.defrayal__box

					.defrayal__item

						.defrayal__image

							img(src='img/generate/defrayal4.png' alt='defrayal4')

						p.defrayal__name Оплата наличными

						p.defrayal__text Вы можете произвести оплату  наличными в нашем офисе