.delivery

	.container

		.delivery__dyad

			.delivery__content

				h2.delivery__title Чтоб получить точную информация по стоимости доставки вашего чана заполните форму

				p.delivery__text Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом.  Сроки и стоимость доставки зависят от вашей локации.

				.delivery__btn

					a(href='#' class='btn_orange') РАССЧИТАТЬ ДОСТАВКУ

			.delivery__image

				img(src='img/generate/delivery-image.jpg' alt='img')

	.delivery__map

		.map