.stages

	.container

		h2.stages__title Этапы доставки и оплаты банного чана

		.stages__mass

			.stages__set

				.stages__box

					.stages__item

						p.stages__num 01

						p.stages__name Вы вносите предоплату <br>70% от стоимости

						p.stages__text Предоплата составляет 70% от стоимости изделия

				.stages__box

					.stages__item

						p.stages__num 02

						p.stages__name Мы производим <br>чан в течении <br>2 недель

						p.stages__text Производство банного чана осуществляется в течение 2-х недель с момента предоплаты

				.stages__box

					.stages__item

						p.stages__num 03

						p.stages__name Отправляем фото-отчет о готовом банном чане

						p.stages__text После производства мы <br>присылаем фото-отчет с <br>вашим чаном

				.stages__box

					.stages__item

						p.stages__num 04

						p.stages__name Оплата оставшейся суммы 30% и доставка банного чана

						p.stages__text После полной оплаты мы производим доставку банного <br>чана по вашему адресу