.unusual

	.container

		h2.unusual__title Что еще уникального в Сибирском Банном Чане?

		.unusual__body

			.unusual__set

				.unusual__unit

					img(src='img/generate/unusual1.jpg' class='unusual__image' alt='АЛТАЙСКИЙ КЕДР')

					p.unusual__name АЛТАЙСКИЙ КЕДР

					p.unusual__text Подножник, сиденья, верх по кругу спинкой, лестница

				.unusual__unit

					img(src='img/generate/unusual2.jpg' class='unusual__image' alt='пищевая сталь')

					p.unusual__name пищевая сталь

					p.unusual__text Нержавеющая сталь марки <br>AISI 304 (2 мм и 3 мм)

				.unusual__unit

					img(src='img/generate/unusual3.jpg' class='unusual__image' alt='САтинирование')

					p.unusual__name САтинирование

					p.unusual__text Сатинирование металла обеспечивает защиту от царапин и отличный внешний вид

				.unusual__unit

					img(src='img/generate/unusual4.jpg' class='unusual__image' alt='Идеальные швы')

					p.unusual__name Идеальные швы

					p.unusual__text Уникальная обработка швов