.helmet

	.container

		.helmet__crumbs

			.crumbs

				.crumbs__unit

					a(href='index.html' class='crumbs__link') Главная

				.crumbs__unit

					span(class='crumbs__current') Акции

		h1.helmet__title Акции

		p.helmet__text На этой странице мы собрали все наши актуальные акции, чтоб вы могли максимально выгодно приобрести наш Сибирский Банный Чан или банные аксессуары.