.stock

	.container

		.stock__basis

			.stock__set

				.stock__box

					.stock__item

						img(src='img/generate/stock1.jpg' class='stock__img' alt='stock1')

						.stock__content

							p.stock__label Акция недели

							p.stock__name с 18.05 по 20.05 скидка 50 000 рублей на все Банные Чаны

							p.stock__text Подробности уточняйте у сотрудников отдела продаж

						a(href='#' data-fancybox='stock' data-src='#stock' class='stock__btn') ПОДРОБНЕЕ

					.stock__note Акция. С 18.05 по 20.05 скидка <br>50 000 рублей на все чаны.

				.stock__box

					.stock__item

						img(src='img/generate/stock1.jpg' class='stock__img' alt='stock1')

						.stock__content

							p.stock__label Акция 

							p.stock__name Cashback 5000 <br>рублей для клиентов

							p.stock__text Рекомендуйте нас друзьям и получайте cashback на следующую покупку 5000р

						a(href='#' class='stock__btn') ПОДРОБНЕЕ

					.stock__note Акция. Cashback 5000 <br>рублей для клиентов.

				.stock__box

					.stock__item

						img(src='img/generate/stock1.jpg' class='stock__img' alt='stock1')

						.stock__content

							p.stock__label Акция

							p.stock__name Сдайте Ваш старый банный чан в Trade-In

							p.stock__text Обменяем Ваш чан на совершенной новый Сибирский Банный Чан

						a(href='#' class='stock__btn') ПОДРОБНЕЕ

					.stock__note Сдайте Ваш старый банный <br>чан в Trade-In

.amply#stock

	.popup__close.amply__close

		svg.svg-icon
			
			use(xlink:href="img/sprite.svg#popup-close")

	.amply__title Акция недели. С 18.05 по 20.05 скидка <br>50 000 рублей на все Банные Чаны.

	img(src='img/generate/amply1.jpg' class='amply__img' alt='amply1')

	.amply__text

		p Подробный текст акции в 4 строки. Внезапно, многие известные личности, превозмогая сложившуюся непростую экономическую ситуацию, объективно рассмотрены соответствующими инстанциями. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей ограничены исключительно образом мышления! В своём стремлении улучшить.

		p Подробности уточняйте у сотрудников отдела продаж

	.amply__cellar

		a(href='#' class='amply__btn') УЗНАТЬ ПОДРОБНОСТИ