section.prefooter 
    .container 
        h2.prefooter__title Следи за нами на других площадках:
        .prefooter__wrap 
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter1.svg", alt="") 
                |TikTok
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter2.svg", alt="") 
                |Telegram
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter3.svg", alt="") 
                |Яндекс. Музыка
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter4.svg", alt="") 
                |ВКонтакте
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter5.svg", alt="") 
                |Одноклассники
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter6.svg", alt="") 
                |Apple Music
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter7.svg", alt="") 
                |Яндекс. Дзен
            a.prefooter__block(href="/")
                img(src="../img/main/prefooter8.svg", alt="") 
                |Facebook
footer.footer
    .container 
        .footer__wrap 
            a.footer__logo(href="/")
                img(src="../img/main/footer-logo.svg", alt="")
            ul.footer__menu 
                li 
                    a(href="/")  Модели чанов
                li 
                    a(href="/")  Конфигуратор
                li 
                    a(href="/")  Товары для чана и дома
                li 
                    a(href="/")  Для бизнеса
                li 
                    a(href="/")  Акции
            ul.footer__menu 
                li 
                    a(href="/")  Доставка и оплата
                li 
                    a(href="/")  Гарантия
                li 
                    a(href="/")  Отзывы
                li 
                    a(href="/")  Блог
                li 
                    a(href="/") Производство
                li 
                    a(href="/") Контакты
            .footer__right 
                a.footer__phone(href="tel:8 (800) 770 73 91") 8 (800) 770 73 91 
                .footer__time бесплатный звонок по России 24/7
                a.footer__call(href="/") ПЕРЕЗВОНИТЕ МНЕ
        .footer__end 
            .footer__copy © ООО "СБЧ", 2021
            .footer__soc 
                span Подписывайтесь на нас в соц. сетях
                .footer__soc-wrap 
                    a(href="/")
                        img(src="../img/main/footer-soc1.svg", alt="")
                    a(href="/")
                        img(src="../img/main/footer-soc2.svg", alt="")
                    a(href="/")
                        img(src="../img/main/footer-soc3.svg", alt="")
                    a(href="/")
                        img(src="../img/main/footer-soc4.svg", alt="")
                    a(href="/")
                        img(src="../img/main/footer-soc5.svg", alt="")  