header.header 
    .content.spacer
        .cities
            .cities__select
                svg.svg-icon.icon-cities
                    use(xlink:href="img/sprite.svg#icon-cities")
                span.cities__select-text г. МОСКВА
                svg.svg-icon.icon-cities-arrow
                    use(xlink:href="img/sprite.svg#icon-cities-arrow")
        nav.header__nav.spacer
            a.header__nav-link(href='#') Доставка и оплата
            a.header__nav-link(href='#') Гарантия
            a.header__nav-link(href='#') Отзывы
            a.header__nav-link(href='#') Блог
            a.header__nav-link(href='#') Производство
            a.header__nav-link(href='#') Контакты
        .social
            a.social__link(href='#')
                svg.svg-icon.icon-social-1
                    use(xlink:href="img/sprite.svg#icon-social-1")
            a.social__link(href='#')
                svg.svg-icon.icon-social-2
                    use(xlink:href="img/sprite.svg#icon-social-2")
            a.social__link(href='#')
                svg.svg-icon.icon-social-3
                    use(xlink:href="img/sprite.svg#icon-social-3")
            a.social__link(href='#')
                svg.svg-icon.icon-social-4
                    use(xlink:href="img/sprite.svg#icon-social-4")
            a.social__link(href='#')
                svg.svg-icon.icon-social-5
                    use(xlink:href="img/sprite.svg#icon-social-5")
        span.search-link
            span.search-link__text Поиск
            i.search-link__close
            svg.svg-icon.icon-search
                    use(xlink:href="img/sprite.svg#icon-search")

.nav-bar
    .content.spacer
            a.logo(href='/')
            nav.nav.spacer
                a.nav__link(href='#') МОДЕЛИ
                a.nav__link(href='#') КОНФИГУРАТОР
                a.nav__link(href='#') ТОВАРЫ
                a.nav__link(href='#') ДЛЯ БИЗНЕСА
                a.nav__link(href='#') АКЦИИ %
            form.search
                input.search__field(type="text" placeholder="Поиск по сайту...")
                button.search__btn
                    svg.svg-icon.icon-search.pos-center
                        use(xlink:href="img/sprite.svg#icon-search")
            .callback
                a.callback__phone(href="tel:+88007707391") 8 800 770 73 91
                span.callback__btn Заказать обратный звонок
            .menu-btn
                svg.svg-icon.icon-menu
                    use(xlink:href="img/sprite.svg#icon-menu")
i.menu-overlay
.menu 
    span.menu__close
    a.menu__logo(href="#")
    ul.menu-nav
        li 
            a.menu-nav__link(href="#") МОДЕЛИ
        li 
            a.menu-nav__link(href="#") КОНФИГУРАТОР
        li 
            a.menu-nav__link(href="#") ТОВАРЫ
        li 
            a.menu-nav__link(href="#") ДЛЯ БИЗНЕСА
        li 
            a.menu-nav__link(href="#") АКЦИИ %
        li 
            a.menu-nav__link(href="#") Доставка и оплата
        li 
            a.menu-nav__link(href="#") Гарантия
        li 
            a.menu-nav__link(href="#") Отзывы
        li 
            a.menu-nav__link(href="#") Блог
        li 
            a.menu-nav__link(href="#") Производство
        li 
            a.menu-nav__link(href="#") Контакты
    .social
        a.social__link(href='#')
            svg.svg-icon.icon-social-1
                use(xlink:href="img/sprite.svg#icon-social-1")
        a.social__link(href='#')
            svg.svg-icon.icon-social-2
                use(xlink:href="img/sprite.svg#icon-social-2")
        a.social__link(href='#')
            svg.svg-icon.icon-social-3
                use(xlink:href="img/sprite.svg#icon-social-3")
        a.social__link(href='#')
            svg.svg-icon.icon-social-4
                use(xlink:href="img/sprite.svg#icon-social-4")
        a.social__link(href='#')
            svg.svg-icon.icon-social-5
                use(xlink:href="img/sprite.svg#icon-social-5")
    .callback
        a.callback__phone(href="tel:+88007707391") 8 800 770 73 91
        span.callback__btn Заказать обратный звонок