.making

	.container

		.making__dyad

			.making__content

				h2.making__title Современное произодство банных чанов в Новосибирске

				p.making__text Производственные мощности и используемые технологии не имеют аналогов в России, что подтверждают имеющиеся у нас патенты. Убедитесь в этом сами, посмотрев видео!

				.making__btn

					a(href='#' class='btn_orange') ПЕРЕЙТИ В КАТАЛОГ

			.making__beside

				a(href='#' data-fancybox='making' data-src='https://www.youtube.com/watch?v=ZyCWs_bCIgg' class='making__video')

					img(src='img/generate/making-image.jpg' class='making__video-image' alt='img')

					.play
						svg.svg-icon
							use(xlink:href="img/sprite.svg#play")
						.play__border
							svg.svg-icon
								use(xlink:href="img/sprite.svg#play-border")