.contacts

	.contacts__wrapper

		.contacts__body

			.container

				.contacts__mass

					.contacts__block

						.contacts__title Будем рады ответить на все вопросы!

						.contacts__phone

							a(href='tel:88007707391') 8 (800) 770 73 91

							sub бесплатный звонок по России 24/7

						.contacts__address

							sup Адрес офиса:

							p г. Новосибирск, Московское шоссе 57, оф.466

						.contacts__btn

							a(href='#' class='btn_orange') ПЕРЕЗВОНИТЕ МНЕ

		.map