.helmet

	.container

		.helmet__crumbs

			.crumbs

				.crumbs__unit

					a(href='index.html' class='crumbs__link') Главная

				.crumbs__unit

					span(class='crumbs__current') Контакты

		h1.helmet__title Контакты

		p.helmet__text Мы доставляем банные чаны по всему миру. Сроки и стоимость доставки зависят от вашей локации. <br>Чтоб получить точную информация по стоимости доставки вашего чана заполните форму.