section.cities
    .container 
        h2.cities__title Найти банный чан в вашем городе
        p.cities__text Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет некоторые отличия и преимущства: тепло распределяется снизу вверх, позволяя телу прогреваться равномерно, при этом сохраняя голову на свежем воздухе.
        .cities__wrap 
            a.cities__block(href="/")
                span.cities__img 
                    img(src="../img/home/cities1.jpg", alt="")
                span.cities__city г. Иркутск
                span.cities__name Парк отель "Бурдугуз", г. Иркутск
                span.cities__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет 
                span.cities__link 
                    | Записаться на просмотр
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")
            a.cities__block(href="/")
                span.cities__img 
                    img(src="../img/home/cities2.jpg", alt="")
                span.cities__city г. Казань
                span.cities__name Глэмпинг Urman camp, г. Казань
                span.cities__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет 
                span.cities__link 
                    | Записаться на просмотр
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")
            a.cities__block(href="/")
                span.cities__img 
                    img(src="../img/home/cities3.jpg", alt="")
                span.cities__city г. Санкт-Петербург
                span.cities__name Спа-банный комплекс Дзен, г. Санкт-Петербург
                span.cities__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет 
                span.cities__link 
                    | Записаться на просмотр
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")
div(style="position:relative;overflow:hidden;display:flex;")
    a(href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Москва
    a(href="https://yandex.ru/maps/213/moscow/?ll=37.621296%2C55.740704&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=37.615143%2C55.745694&whatshere%5Bzoom%5D=15.84&z=15.84" style="color:#eee;font-size:12px;position:absolute;top:14px;") Софийская набережная, 4к2 — Яндекс Карты
    iframe(src="https://yandex.ru/map-widget/v1/-/CCURAGcz2D" width="100%" height="900" frameborder="1" allowfullscreen="true" style="position:relative;")
