section.create 
    .container 
        h1.create__title Типы установки банных чанов
        p.create__subtitle Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом. Наши изделия могут быть укомплектованы огромным количеством опций
        a.create__block(href="/")
            span.create__img 
                img(src="../img/home/create1.jpg", alt="")
            span.create__name Установка банного чана на бревна
            span.create__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время. 
            span.create__link 
                | Подробнее
                span
                    img(src="../img/home/arrow.svg", alt="arrow")
        a.create__block(href="/")
            span.create__img 
                img(src="../img/home/create2.jpg", alt="")
            span.create__name Установка банного чана на подставку
            span.create__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
            span.create__link 
                | Подробнее
                span
                    img(src="../img/home/arrow.svg", alt="arrow")