section.dop 
    .container 
        h2.dop__title Большой выбор товаров для чана и дома
        .dop__all
            .dop__wrap
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.dop__block(href="/")
                    img(src="../img/home/dop.png", alt="") 
                    span.dop__name Мангалы в виде животных
                    span.dop__link  
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
        a.dop__catalog(href="/") ПЕРЕЙТИ В КАТАЛОГ