section.features 
    .container
        h2.features__title Преимущества Банного Чана
        .features__wrap 
            a.features__block(href="/") 
                span.features__img 
                    img(src="../img/home/features1.svg", alt="")
                span.features__name 
                    | Доставляем товары 
                    br
                    | по всему миру
                span.features__descr Доставим банный чан в любую точку мира. Чтобы узнать подробнее об условиях доставки в Ваш город, ознакомьтесь с условиями доставки.
                span.features__link
                    | Подробнее
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")
            a.features__block(href="/") 
                span.features__img 
                    img(src="../img/home/features2.svg", alt="")
                span.features__name 
                    | Международная 
                    br
                    | гарантия на все изделия
                span.features__descr Покупая изделие в компании Сибирский Банный Чан, вы получаете международную гарантию, которая действует 10 лет. Читайте подробные условия гарантии.
                span.features__link
                    | Подробнее
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")
            a.features__block(href="/") 
                span.features__img 
                    img(src="../img/home/features3.svg", alt="")
                span.features__name 
                    | Собственное производство 
                    br
                    | в Новосибирске
                span.features__descr У нас есть собственное производство в Новосибирске. Производственные площади - более 1000 м2. Узнайте больше об уникальных технологиях.
                span.features__link
                    | Подробнее
                    span
                        img(src="../img/home/arrow.svg", alt="arrow")