section.insta
    .container 
        h2.insta__title 
            | Подписывайся на 
            br
            |Сибирский Банный Чан в Instagram
        p.insta__descr Впечатления от парения, фото отдыха наших клиентов в чане у себя на участках и в комплексах отдыха, прямые трансляции из офиса и производства. Узнавайте первыми новости о новинках и акциях компании.
        a.insta__link(href="/")
            |УЗНАТЬ БОЛЬШЕ
            img(src="../img/home/insta-arrow.svg", alt="")
        .insta__img 
            img(src="../img/home/insta-bg.png", alt="")
        .insta__all
            .insta__wrap 
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")
                a(href="/")
                    img(src="../img/home/insta-img.png", alt="")