section.news
    .container 
        h2.news__title Читайте полезные статьи о парении
        a.news__block(href="/")
            span.news__cont 
                span.news__date 17 сентября 2021 года в 13:20
                span.news__name Советы для здорового парения от професси-онального банщика 
                span.news__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет некоторые отличия и преимущства: тепло распределяется снизу вверх, позволяя телу прогреваться равномерно, при этом сохраняя... снизу вверх, позволяя телу прогреваться равномерно, 
                    span.news__link читать далее
            span.news__img 
                img(src="../img/home/news1.jpg", alt="")
        a.news__block(href="/")
            span.news__cont 
                span.news__date 20 октября 2021 года в 18:19
                span.news__name 5 основных правил, чтоб парение в чане принесло максимум пользы
                span.news__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет некоторые отличия и преимущства: тепло распределяется снизу вверх, позволяя телу прогреваться равномерно, при этом сохраняя... снизу вверх, позволяя телу прогреваться равномерно, 
                    span.news__link читать далее
            span.news__img 
                img(src="../img/home/news2.jpg", alt="")
        a.news__block(href="/")
            span.news__cont 
                span.news__date 1 ноября 2021 года в 13:20
                span.news__name Чек-лист по запариванию Сибрского Банного Чана самостоятельно
                span.news__descr Парение в Сибирском Банном Чане сравнимо с парением в бане, но имеет некоторые отличия и преимущства: тепло распределяется снизу вверх, позволяя телу прогреваться равномерно, при этом сохраняя... снизу вверх, позволяя телу прогреваться равномерно, 
                    span.news__link читать далее
            span.news__img 
                img(src="../img/home/news3.jpg", alt="")