section.reviews
    .container 
        h2.reviews__title Читайте отзывы о нас на популярных площадках
        .reviews__top 
            a(href="/")
                img(src="../img/home/reviews1.png", alt="")
            a(href="/")
                img(src="../img/home/reviews2.png", alt="")
            a(href="/")
                img(src="../img/home/reviews3.png", alt="")
            a(href="/")
                img(src="../img/home/reviews4.png", alt="")
        .reviews__slider.owl-carousel
            .reviews__block 
                .reviews__main
                    .reviews__img
                        img(src="../img/home/reviews.png", alt="")
                    .reviews__info 
                        .reviews__date 27 октября 2021
                        .reviews__name Елена Лебедева
                p.reviews__text Как принято считать, непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. В рамках спецификации современных стандартов, некоторые особенности внутренней политики объективно рассмотрены соответствующими инстанциями. 
                a.reviews__link(href="/") 
                    img(src="../img/home/reviews-f.png", alt="")
                    | Читать в источнике
                    img(src="../img/home/reviews-arrow.svg", alt="")  
            .reviews__block 
                .reviews__main
                    .reviews__img
                        img(src="../img/home/reviews.png", alt="")
                    .reviews__info 
                        .reviews__date 27 октября 2021
                        .reviews__name Елена Лебедева
                p.reviews__text Как принято считать, непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. В рамках спецификации современных стандартов, некоторые особенности внутренней политики объективно рассмотрены соответствующими инстанциями. 
                a.reviews__link(href="/") 
                    img(src="../img/home/reviews-f.png", alt="")
                    | Читать в источнике
                    img(src="../img/home/reviews-arrow.svg", alt="") 
            .reviews__block 
                .reviews__main
                    .reviews__img
                        img(src="../img/home/reviews.png", alt="")
                    .reviews__info 
                        .reviews__date 27 октября 2021
                        .reviews__name Елена Лебедева
                p.reviews__text Как принято считать, непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. В рамках спецификации современных стандартов, некоторые особенности внутренней политики объективно рассмотрены соответствующими инстанциями. 
                a.reviews__link(href="/") 
                    img(src="../img/home/reviews-f.png", alt="")
                    | Читать в источнике
                    img(src="../img/home/reviews-arrow.svg", alt="") 
            .reviews__block 
                .reviews__main
                    .reviews__img
                        img(src="../img/home/reviews.png", alt="")
                    .reviews__info 
                        .reviews__date 27 октября 2021
                        .reviews__name Елена Лебедева
                p.reviews__text Как принято считать, непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям. В рамках спецификации современных стандартов, некоторые особенности внутренней политики объективно рассмотрены соответствующими инстанциями. 
                a.reviews__link(href="/") 
                    img(src="../img/home/reviews-f.png", alt="")
                    | Читать в источнике
                    img(src="../img/home/reviews-arrow.svg", alt="")   
        .reviews__arrows
            .reviews__prev 
                img(src="../img/home/reviews-prev.svg", alt="")   
            .reviews__next
                img(src="../img/home/reviews-next.svg", alt="")   