section.serts
    .container 
        .serts__top 
            h2.serts__title Сертификаты Сибирского Банного Чана
            .serts__arrows 
                .serts__prev 
                    img(src="../img/home/reviews-prev.svg", alt="")   
                .serts__next
                    img(src="../img/home/reviews-next.svg", alt="") 
        .serts__slider-wrap    
            .serts__slider.owl-carousel
                .serts__block 
                    img(src="../img/home/serts.png", alt="")
                .serts__block 
                    img(src="../img/home/serts.png", alt="")
                .serts__block 
                    img(src="../img/home/serts.png", alt="")
                .serts__block 
                    img(src="../img/home/serts.png", alt="")
                .serts__block 
                    img(src="../img/home/serts.png", alt="")
                .serts__block 
                    img(src="../img/home/serts.png", alt="")