section.stars 
    .container 
        h1.stars__title 
            |Узнайте мнение звезд о купании 
            br
            |в Сибирском Банном Чане
        .stars__wrap 
            a.stars__block(href="/")
                .stars__play 
                    img(src="img/home/stars-play.svg", alt="") 
                .stars__img
                    img(src="img/home/stars1.jpg", alt="") 
                .stars__name Ольга Бузова
                .stars__descr 
                    |Телеведущая, блогер, 
                    br
                    |актриса, певица. Отдыхает в 
                    br
                    |Усадьба банная, г. Москва
                .stars__icon 
                    img(src="img/home/stars-icon.svg", alt="") 
            a.stars__block(href="/")
                .stars__play 
                    img(src="img/home/stars-play.svg", alt="") 
                .stars__img
                    img(src="img/home/stars2.jpg", alt="") 
                .stars__name Мария Миногарова
                .stars__descr Снималась для программ “Орел и решка” в Сибирском банном чане, который расположен в Altai Palace, респ. Алтай
                .stars__icon 
                    img(src="img/home/stars-icon.svg", alt="") 
            a.stars__block(href="/")
                .stars__play 
                    img(src="img/home/stars-play.svg", alt="") 
                .stars__img
                    img(src="img/home/stars3.jpg", alt="") 
                .stars__name Ирина Агибалова
                .stars__descr 
                    |Блогер, бывшая участница 
                    br
                    |телепроекта “ДОМ-2”, г. Москва
                .stars__icon 
                    img(src="img/home/stars-icon.svg", alt="") 