.types 
    section.ready
        .container
            h2.ready__title Готовые модели чанов
            .ready__wrap
                .ready__slider.owl-carousel
                    .ready__el
                        .ready__block 
                            .ready__cont
                                .ready__name Елисей Силович  
                                .ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .ready__descr 
                                    .ready__descr-title Вид сверху данного чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .ready__descr 
                                    .ready__descr-title Количество граней чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .ready__right 
                                .ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                    .ready__el
                        .ready__block 
                            .ready__cont
                                .ready__name Елисей Силович  2
                                .ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .ready__descr 
                                    .ready__descr-title Вид сверху данного чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .ready__descr 
                                    .ready__descr-title Количество граней чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .ready__right 
                                .ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                    .ready__el
                        .ready__block 
                            .ready__cont
                                .ready__name Елисей Силович  3
                                .ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .ready__descr 
                                    .ready__descr-title Вид сверху данного чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .ready__descr 
                                    .ready__descr-title Количество граней чана
                                    .ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .ready__right 
                                .ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                span.slider__prev
                    svg.svg-icon.icon-slider-prev.pos-center
                        use(xlink:href="img/sprite.svg#icon-slider-prev")
                span.slider__next
                    svg.svg-icon.icon-slider-next.pos-center
                        use(xlink:href="img/sprite.svg#icon-slider-next")
    section.groups
        .container 
            h2.groups__title Основные типы нагрева Сибирского Банного Чана
            p.groups__subtitle Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом. 
            .groups__wrap 
                a.groups__block(href="/")
                    span.groups__img 
                        img(src="../img/home/ready1.svg", alt="photo")
                    span.groups__name Электронагрев
                    span.groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.groups__block(href="/")
                    span.groups__img 
                        img(src="../img/home/ready2.svg", alt="photo")
                    span.groups__name Печь Фурако
                    span.groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.groups__block(href="/")
                    span.groups__img 
                        img(src="../img/home/ready3.svg", alt="photo")
                    span.groups__name Водяная рубашка
                    span.groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
            a.groups__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
    section.options 
        .container 
            h2.options__title Доступные опции 
            .options__wrap.owl-carousel
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.options__block(href="/")
                    span.options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.options__cont 
                        span.options__name  Гидромассаж
                        span.options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")