.home-types 
    section.home-ready
        .container
            h2.home-ready__title Готовые модели чанов
            .home-ready__wrap
                .home-ready__slider.owl-carousel
                    .home-ready__el
                        .home-ready__block 
                            .home-ready__cont
                                .home-ready__name Елисей Силович  
                                .home-ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .home-ready__descr 
                                    .home-ready__descr-title Вид сверху данного чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .home-ready__descr 
                                    .home-ready__descr-title Количество граней чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.home-ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.home-ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .home-ready__right 
                                .home-ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .home-ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                    .home-ready__el
                        .home-ready__block 
                            .home-ready__cont
                                .home-ready__name Елисей Силович  2
                                .home-ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .home-ready__descr 
                                    .home-ready__descr-title Вид сверху данного чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .home-ready__descr 
                                    .home-ready__descr-title Количество граней чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.home-ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.home-ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .home-ready__right 
                                .home-ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .home-ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                    .home-ready__el
                        .home-ready__block 
                            .home-ready__cont
                                .home-ready__name Елисей Силович  3
                                .home-ready__info 
                                    span на бревнах
                                    span 
                                        |4
                                        b 
                                        img(src="../img/person.svg", alt="icon")
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon") 
                                        img(src="../img/person.svg", alt="icon")  
                                .home-ready__descr 
                                    .home-ready__descr-title Вид сверху данного чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i1.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Диаметр
                                        span 1650 мм
                                .home-ready__descr 
                                    .home-ready__descr-title Количество граней чана
                                    .home-ready__descr-img 
                                        img(src="../img/home/ready-i2.svg", alt="icon")
                                    .home-ready__descr-info 
                                        | Дерево
                                        span Алтайский кедр
                                p.home-ready__text Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                                a.home-ready__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
                            .home-ready__right 
                                .home-ready__img
                                    img(src="../img/home/ready.jpg" alt="photo")
                                .home-ready__gall 
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                                    img(src="../img/home/ready.jpg" alt="photo")
                span.slider__prev
                    svg.svg-icon.icon-slider-prev.pos-center
                        use(xlink:href="img/sprite.svg#icon-slider-prev")
                span.slider__next
                    svg.svg-icon.icon-slider-next.pos-center
                        use(xlink:href="img/sprite.svg#icon-slider-next")
    section.home-groups
        .container 
            h2.home-groups__title Основные типы нагрева Сибирского Банного Чана
            p.home-groups__subtitle Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом. 
            .home-groups__wrap 
                a.home-groups__block(href="/")
                    span.home-groups__img 
                        img(src="../img/home/ready1.svg", alt="photo")
                    span.home-groups__name Электронагрев
                    span.home-groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.home-groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.home-groups__block(href="/")
                    span.home-groups__img 
                        img(src="../img/home/ready2.svg", alt="photo")
                    span.home-groups__name Печь Фурако
                    span.home-groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.home-groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
                a.home-groups__block(href="/")
                    span.home-groups__img 
                        img(src="../img/home/ready3.svg", alt="photo")
                    span.home-groups__name Водяная рубашка
                    span.home-groups__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. 
                    span.home-groups__link 
                        | Подробнее
                        span
                            img(src="../img/home/arrow.svg", alt="arrow")
            a.home-groups__btn(href="/") ПЕРЕЙТИ В КАТАЛОГ
    section.home-options 
        .container 
            h2.home-options__title Доступные опции 
            .home-options__wrap 
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options1.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options2.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")
                a.home-options__block(href="/")
                    span.home-options__img 
                        img(src="../img/home/options3.jpg", alt="photo")
                    span.home-options__cont 
                        span.home-options__name  Гидромассаж
                        span.home-options__descr Водяная рубашка ускоряет процесс нагрева воды в 2 раза по сравнению с обычной печью. Двойной контур печи позволяет сохранить эстетичный внешний вид печи на долгое время.
                        span.home-options__link 
                            | Подробнее
                            span
                                img(src="../img/home/arrow.svg", alt="arrow")