.why-bg 
    section.why 
        .container 
            h2.why__title 
                |Зачем вам нужен 
                br
                |Сибирский  Банный Чан
            p.why__subtitle Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом. Наши изделия могут быть укомплектованы огромным количеством опций
            .why__wrap 
                .why__block 
                    .why__img
                        img(src="../img/home/why1.svg", alt="")
                    span 
                        |Парение, 
                        br
                        |аналог бани
                .why__block 
                    .why__img
                        img(src="../img/home/why2.svg", alt="")
                    span 
                        |Уникальные 
                        br
                        |SPA программы
                .why__block 
                    .why__img
                        img(src="../img/home/why3.svg", alt="")
                    span 
                        |Профилактика 
                        br
                        |и лечение
                .why__block 
                    .why__img
                        img(src="../img/home/why4.svg", alt="")
                    span 
                        |Восстановление 
                        br
                        |сил и отдых
                .why__block 
                    .why__img
                        img(src="../img/home/why5.svg", alt="")
                    span 
                        |Совмещение 
                        br
                        |со спортом
                .why__block 
                    .why__img
                        img(src="../img/home/why6.svg", alt="")
                    span 
                        |Купание, 
                        br
                        |аналог купели
            a.why__link(href="/") 
                |УЗНАТЬ БОЛЬШЕ
                img(src="../img/home/insta-arrow.svg", alt="")
    section.gallery 
        .container 
            h2.gallery__title Галлерея Сибирского Банного Чана
        .gallery__all-wrap
            .gallery__all
                .gallery__wrap
                    a.gallery__block.gallery__video(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="")
                        span.gallery__video-play 
                            img(src="../img/home/stars-play.svg", alt="")
                        span.gallery__video-make ВИДЕО
                        span.gallery__video-name Семейный день в Сибирском Банном Чане
                    a.gallery__block.gallery__video(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="")
                        span.gallery__video-play 
                            img(src="../img/home/stars-play.svg", alt="")
                        span.gallery__video-make ВИДЕО
                        span.gallery__video-name Семейный2 день в Сибирском Банном Чане
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
                    a.gallery__block.slidee(href="/")
                        img(src="../img/home/gallery-img.jpg", alt="") 
            