.diversity

	.container

		.diversity__dyad

			.diversity__left

				.diversity__aloft

					h2.diversity__caption Окраска металла <br>в любой цвет

					p.diversity__description Банный чан окрашивается в выбранный Вами цвет только снаружи. Деревянные части чана также могут быть окрашены в любой необходимый цвет. Мы используем только специальную огнеупорную краску. Она абсолютно безопасна и не выделяет вредны веществ при эксплуатации.

				.diversity__mass

					p.diversity__topic Двигайте ползунок, чтоб увидеть цвет чана

					.diversity__picker

					.diversity__view


			.diversity__right

				h2.diversity__title 24 цвета для деревянных частей конструкции

				p.diversity__text Банный чан окрашивается в выбранный Вами цвет только снаружи. Части чана также могут быть окрашены в любой необходимый цвет.

				.diversity__set

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')
						
					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')
						
					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')
					
					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')
						
					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')

					.diversity__set-unit

						.diversity__set-image

							img(src='img/generate/wood1.jpg' alt='wood1')