.exhibit

	.container

		.exhibit__wrapper

			img(src='img/exhibit-part.svg' class='exhibit__part' alt='part')

			.exhibit__dyad

				.exhibit__left

					.exhibit__rubric

						span Параметры чана

					h2.exhibit__title Елисей Силович <br>на подставке

					p.exhibit__text Мы производим банные чаны с подогревом как на дровах, так и с электро-подогревом. Наши изделия могут быть укомплектованы огромным количеством опций.

					.exhibit__mass

						.exhibit__feature

							.exhibit__feature-set

								.exhibit__feature-unit

									.exhibit__feature-item

										.exhibit__feature-property Диаметр чаши

										.exhibit__feature-value 1650 мм.

								.exhibit__feature-unit

									.exhibit__feature-item

										.exhibit__feature-property Глубина чаши

										.exhibit__feature-value 1100 мм.

								.exhibit__feature-unit

									.exhibit__feature-item

										.exhibit__feature-property Угол наклона спинки

										.exhibit__feature-value 67 градусов

								.exhibit__feature-unit

									.exhibit__feature-item

										.exhibit__feature-property Вместимость

										.exhibit__feature-value 4 человека

						.exhibit__shew

							.exhibit__shew-box

								.exhibit__shew-property Чан - вид сверху

								img(src='img/generate/shew-vat.png' alt='Чан - вид сверху')

							.exhibit__shew-box

								.exhibit__shew-property Опора - вид сверху

								img(src='img/generate/shew-chan.png' alt='Чан - вид сверху')

				.exhibit__right

					.exhibit__slider

						.exhibit__slider-for.owl-carousel

							.exhibit__slider-main

								img(src='img/generate/exhibit-img1.jpg' alt='img')

							.exhibit__slider-main

								img(src='img/generate/exhibit-img2.jpg' alt='img')

							.exhibit__slider-main

								img(src='img/generate/exhibit-img1.jpg' alt='img')

							.exhibit__slider-main

								img(src='img/generate/exhibit-img2.jpg' alt='img')

						.exhibit__slider-nav

							.exhibit__slider-box

								.exhibit__slider-item

									img(src='img/generate/exhibit-img1.jpg' alt='img')

							.exhibit__slider-box

								.exhibit__slider-item

									img(src='img/generate/exhibit-img2.jpg' alt='img')

							.exhibit__slider-box

								.exhibit__slider-item

									img(src='img/generate/exhibit-img1.jpg' alt='img')

							.exhibit__slider-box

								.exhibit__slider-item

									img(src='img/generate/exhibit-img2.jpg' alt='img')

			.exhibit__unusual

				include unusual
