extends ../template

block content

	include ../delivery/helmet
	
	include ../delivery/delivery
	
	include ../delivery/boxing
	
	include ../delivery/stages

	include ../delivery/defrayal
	
	include ../delivery/unusual