extends ../template

block content

    include ../main/header
    include ../home/old
    include ../home/types
    include ../home/create
    include ../home/dop
    include ../home/why
    include ../home/gallery
    include ../home/reviews
    include ../home/stars
    include ../home/insta
    include ../home/cities
    include ../home/news
    include ../home/features
    include ../home/serts
    include ../main/footer