extends ../template

block content

	<br><br>

	.container

		| <a href='detail.html'>Страница чана</a> <br>
		| <a href='config.html'>Конфигурации</a> <br>
		| <a href='options.html'>Опции чана</a> <br>
		| <a href='delivery.html'>Доставка и оплата</a> <br>
		| <a href='schedule.html'>Каталог мангалов</a> <br>
		| <a href='contacts.html'>Контакты</a> <br>
		| <a href='making.html'>Производство</a> <br>
		| <a href='stock.html'>Акции</a> <br>
		| <a href='loyalty.html'>Программа лояльности</a> <br>